* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'CircularStd';
    font-size: 18px;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
}