.comment {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 75px;
    padding-right: 0;
}

.comment-profil-image {
    position: absolute;
    right: 0;
    width: 75%;
    transform: translate(0.85);
}

.comment-publish {
    position: absolute;
    width: 32%;
    top: calc(50% - 35%);
    left: 16%;
    z-index: 2;
    overflow-y: hidden;
}

.comment-publish p:nth-child(2) {
    color: #030b4d;
    font-size: 2.4em;
}

.comment-publish p:nth-child(3) {
    color: #0288D1;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.comment-publish small {
    font-size: 1rem;
    opacity: 0.55;
    font-weight: 500;
}

@media only screen and (max-width: 1372px) {
    .comment-publish {
        position: absolute;
        width: 35%;
        top: 10%;
        left: 14%;
        z-index: 2;
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 1100px) {
    .comment-publish p:nth-child(2) {
        font-size: 2.0em;
    }
    .comment-publish p:nth-child(3) {
        font-size: 1.1em;
    }
    .comment-publish small {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1100px) {
    .comment-publish p:nth-child(2) {
        font-size: 2.0em;
    }
    .comment-publish p:nth-child(3) {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 930px) {
    .comment {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 25px;
        box-sizing: border-box;
    }
    .comment-publish {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        left: 0;
        padding: 25px;
    }
    .comment-publish p:nth-child(2) {
        font-size: 1.5em;
        word-break: break-all;
        word-wrap: break-word;
        word-wrap: wrap;
    }
    .comment-profil-image {
        width: 75vw;
        position: relative;
        transform: scale();
    }
}

@media only screen and (max-width: 372px) {
    .comment-profil-image {
        width: 100%;
    }
}