<div class="sectionThree">
    <h1>section Three</h1>
    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, cum?</small>
    <p>
        <img class="print-image" src="/kinga.jpg" alt="kinga-image" srcset="">
    </p>
</div>